In [16]:
import pandas as pd

In [21]:
df=pd.read_csv('유가증권_투자자별_거래실적_20240405154655.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   거래구분별(1)  78 non-null     object
 1   투자자별(1)   78 non-null     object
 2   투자자별(2)   78 non-null     object
 3   2023.09   78 non-null     int64
 4   2023.10   78 non-null     int64
 5   2023.11   78 non-null     int64
 6   2023.12   78 non-null     int64
 7   2024.01   78 non-null     int64
 8   2024.02   78 non-null     int64
dtypes: int64(6), object(3)
memory usage: 5.6+ KB

In [23]:
df.head()

,거래구분별(1),투자자별(1),투자자별(2),2023.09,2023.10,2023.11,2023.12,2024.01,2024.02
0,거래량,총거래량,매도 (천주),7811491,9781368,9185594,8540895,12212551,10029663
1,거래량,총거래량,매수 (천주),7811491,9781368,9185594,8540895,12212551,10029663
2,거래량,총거래량,순매수 (천주),0,0,0,0,0,0
3,거래량,금융투자,매도 (천주),214419,222679,168465,153914,268647,228553
4,거래량,금융투자,매수 (천주),235317,245261,237412,231306,240371,272371